<style>

body {
	
	text-align: center;

	font-size: 20px;
	font-weight: bold; 
	font-family: "Comic Sans MS", cursive, sans-serif;

}
</style>
<body>

<h2>Join a Live Playlist! </h2>


</body>

<%= form_tag grant_access_path do %>
	<%= label_tag(:join_name, "Join Name: ") %>
	<%= text_field_tag(:join_name)%>
	<%= label_tag(:join_password, "Join Password: ") %>
	<%= password_field_tag(:join_password) %>
	<%= submit_tag("Join Playlist!") %>
<% end %>