<h1> Playlist: <%= @playlist.join_name %> </h1>


<li><%= link_to "Add Song", new_song_path(playlist_id: @playlist.id, user_id: $user.id) %></li>
<% if $isAdmin %>
	<li><%= link_to "Remove Song", remove_song_path(playlist_id: @playlist.id, user_id: $user.id) %></li>
<% end %>

<% @playlist.songs.each do |s| %>
	<p> Song Name: <%= s.song_name if s.song_name %> </p>
	<p> Artist Name: <%= s.artist_name if s.artist_name %> </p>
	<iframe src="http://www.youtube.com/embed/<%=s.video_id %>"></iframe>
	
<%end%>



